.categ-container {
    width: 100vw;
    margin-top: 3.125rem /* 50px -> 3.125rem */;
    display: flex;
    justify-content: center;
}

.categ-box {
    display: flex;
    justify-content: center;
    width: 73rem;
}

.categ-card {
    width: 380px;
    height: 380px;
    background-color: yellow;
}