@use '../abstracts' as abs;

.nosotros-container {
	display: flex;
	justify-content: center;
	margin-bottom: 3.125rem /* 50px -> 3.125rem */;
}

.nosotros-box {
	max-height: 683px;
	display: flex;
	font-family: abs.$fuenteCuerpo;
	margin-top: 3.125rem /* 50px -> 3.125rem */;
	width: 67.5rem /* 1080px -> 67.5rem */;
	height: 46.4375rem /* 743px -> 46.4375rem */;
	align-items: end;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.nosotros-carta {
	max-width: 33.75rem /* 540px -> 33.75rem */;
	padding: 1.25rem /* 20px -> 1.25rem */;
	text-align: justify;
	& > h5 {
		color: abs.$colorFontTitulos;
	}
}

div[class='nosotros-carta'] {
	max-height: 35.5625rem /* 569px -> 35.5625rem */;
}

@media (max-width: 991px) {
	.nosotros-box {
		margin-left: 50%;
		margin-right: 50%;
		& > img {
			max-width: 24.375rem /* 390px -> 24.375rem */;
			//   max-width: 200%;
		}
	}
}
