@use '../abstracts/' as abs;

#myCarousel {
	max-width: 1140px;
	margin: auto;
}

.slider-container {
	background: abs.$rosadoClaro;
}

.carousel-item {
	background: abs.$rosadoClaro;
}

.carousel-item > img {
	max-width: 1140px;
	display: block;
	margin: auto;
	max-height: 635px;
}
.carousel-item:hover {
	cursor: grab;
}

.carousel-caption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	bottom: 0;
}
.carousel-caption h2,
.carousel-caption p.lead {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.carousel-indicators li {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 100%;
	align-self: center;
	transition: all 0.6s ease-in-out;
}
.carousel-indicators li.active {
	width: 1rem;
	height: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
	top: 50%;
	transform: translateY(-50%);
	width: 3rem;
	height: 3rem;
	border: 2px solid #fff;
	border-radius: 100%;
}

.carousel-control-prev {
	left: 10px;
}
.carousel-control-next {
	right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	background: #000;
	color: #000;
}
